.aboutsection-full {
  margin: 100px auto;
  max-width: 1170px;
  padding: 0 1rem;
}

.aboutsection-full .full-image {
  max-width: 1170px;
  margin: auto;
  height: 650px;
  overflow: hidden;
}

.aboutsection-full .full-image img {
  width: 100%;
  height: 650px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.aboutsection-full .full-image img:hover {
  transform: scale(1.3);
}

.aboutsection-full .full-content {
  margin-top: 50px;
  padding: 0 1rem;
}

.aboutsection-full .full-content h2 {
  text-align: center;
  margin: 0;
  color: #272727;
}

.aboutsection-full .full-content p {
  color: #727272;
  font-size: 14px;
  line-height: 25px;
}

.aboutsection-full .full-comment form {
  max-width: 1170px;
  margin: auto;
}

.aboutsection-full .full-comment form input {
  width: 100%;
}

.aboutsection-full .full-comment form input[type=submit] {
  width: unset;
  padding: 8px 20px;
  background-color: #727272;
  color: #fff;
  border-color: unset;
}

#edit-actions {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  margin-top: 20px;
}

.full-comment {
  padding: 0 1rem;
}
.full-comment form input {
  padding: 8px 0 8px 0;
  margin-bottom: 16px 0;
}
.full-comment form input[type=submit] {
  border: unset;
}

.add-comment {
  max-width: 585px;
}
.add-comment h3 {
  margin: 0;
}
.add-comment h3 a {
  text-decoration: none;
  color: #272727;
  font-size: 25px;
}
.add-comment p {
  font-size: 14px;
  color: #727272;
  line-height: 25px;
}
.add-comment .links {
  margin: 0;
  padding: 0;
  display: flex !important;
  gap: 12px;
}
.add-comment .links li {
  list-style: none;
  padding: 0;
}
.add-comment .links a {
  text-decoration: none;
  color: #fff;
  background-color: #727272;
  padding: 8px 20px;
  border-radius: 4px;
}

@media (max-width: 991.98px) {
  .links {
    display: flex !important;
    flex-direction: column;
    gap: 30px !important;
  }
}
.full-content p:nth-child(1) {
  margin: 0;
  color: #272727;
  font-size: 20px;
}