.banner {
    position: relative;
}

.banner-image {
    max-width: 100vw;
    padding: 0 1rem;
}

.banner-image img {
    width: 100%;
    height: 677px;
    object-fit: cover;
}

.banner-content {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.banner-content p {
    font-weight: 700;
    font-size: 4.062em;
    color: rgba(255, 255, 255, 1);
    max-width: 600px;
    padding-left: 100px;
}

/* ABOUT SECTION */

.about-section {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 50px;
    margin-top: 40px;
}

.about-section__image {
    max-width: 580px;
    height: 355px;
    overflow: hidden;
}

.about-section__image img {
    width: 100%;
    height: 355px;
    object-fit: cover;
    transition: all 0.3s ease-in;
}

.about-section__image img:hover {
    transform: scale(1.2);
}

.about-section__content {
    max-width: 490px;
}

.about-section__content h2 {
    font-size: 34px;
    font-weight: 400;
    font-style: normal;
    color: #000;
    text-shadow: none;
    text-align: left;
    text-decoration: none;
    margin: 10px 0 10px 0;
    line-height: 1.9em;
    margin-top: 0;
}

.about-section__content>p {
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #333333;
    text-shadow: none;
    line-height: 1.5;
}

.about-section__content .node__submitted {
    display: flex;
    gap: 10px;
    align-items: center;
}

.about-section__content>.node__links>ul {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.about-section__content .node__links ul li {
    padding: 0;
}

.about-section__content .node__links ul li a {
    text-decoration: none;
    background: #727272;
    padding: 8px 20px;
    color: #fff;
    border-radius: 4px;
}

.about-section__content .node__submitted span a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 20px;
}