.feature {}

.feature h2 {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 40px;
  text-align: center;
}

.feature h2 a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 2.625em;
}

.feature-coaching {
  max-width: 364px;
  position: relative;
  z-index: 100;
}

.coaching-image {
  max-width: 364px;
  height: 242px;
  overflow: hidden;
}

.coaching-image img {
  width: 100%;
  height: 242px;
  object-fit: cover;
  transition: all .3s ease-out;
}

.coaching-image img:hover {
  transform: scale(1.2);
}

.coaching-name {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-out;
}

.coaching-name p:nth-child(1) {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 900;
}

.coaching-name p:nth-child(2) {
  color: #fff;
}

.coaching-wrapper {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-out;
}

.feature-coaching:hover .coaching-name {
  visibility: visible;
  opacity: 1;
}

.feature-coaching:hover .coaching-wrapper {
  visibility: visible;
  opacity: 1;
}

.coaching-info {
  border: 2px solid #000;
  max-width: 364px;
}

.coaching-info .node__links {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.coaching-info .node__links ul li {
  padding-left: 0 !important;
}

.coaching-info .node__links ul li a {
  text-decoration: none;
  color: #fff;
  padding: 16px 35px;
  background-color: #3765C7;
  display: block;
  text-align: center;
  border-color: #357EBD;
  max-width: 150px;
}

.description-flex {
  display: block;
  text-align: center;
}

.feature-grid {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  margin: auto;
  padding: 0 1rem;
}