* {
  font-family: 'Rubik', sans-serif;
}

.main-navigation {
  background-color: #fff;
  border: solid rgba(231, 231, 231, 1);
  position: fixed;
  width: 100%;
  z-index: 300;
  box-shadow: 0 3px 5px #000;
}

.navbar {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 98px;
  padding: 0 1rem;
}

.navbar .menu {
  display: flex;
  gap: 20px;
}

.navbar .menu li {
  list-style-type: none;
}

.navbar .menu li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
}

.navbar .menu li a:hover {
  color: #f00;
}

.hamburger {
  display: none;
}

@media (max-width: 991.98px) {
  .navbar {
    display: block;
    padding: unset;
  }

  .navbar .menu {
    position: fixed;
    left: 0;
    top: 107px;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    left: 0;
    margin: 0;
    padding: 0;
    display: none;
  }

  .navbar .menu li {
    padding: 8px 0 8px 10px;
  }

  #block-sport-theme-account-menu .menu {
    top: 198px;
  }

  .navbar .site-logo {
    position: relative;
    top: 26px;
    left: 10px;
  }

  .navbar .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    right: 20px;
    top: 33px;
  }

  .navbar .hamburger span {
    background-color: #272727;
    width: 28px;
    height: 2px;
    margin-bottom: 8px;
  }

  .hamclick {
    position: relative;
    top: 0;
    top: 45px !important;
    transition: all .3s ease-in-out;
  }

  .hamclick span:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    transition: all .3s ease-in-out;
  }

  .hamclick span:nth-child(3) {
    transform: rotate(-45deg);
    transition: all .3s ease-in-out;
  }

  .hamclick span:nth-child(2) {
    display: none;
  }
}